.node {
}

.group {
}

.port {
  fill: #a7ceee;
}

.link line {
  stroke: #adadad;
  stroke-width: 1.5;
}

.group path {
  fill: #ccf;
  fill-opacity: 0.4;
  stroke: #ccf;
  stroke-width: 70;
  stroke-opacity: 0.4;
  stroke-linecap: "round";
  stroke-linejoin: "round";
}

/* ------------------------------------------------------ */

.node rect {
  fill: #cfcfcf;
  stroke: #caeeff;
  stroke-width: 1;
}



