.node {
}

.group {
}

.port {
  fill: #cecece;
}

.link line {
  stroke: #8d8d8d;
  stroke-width: 3;
}

.group path {
  fill: #ccf;
  fill-opacity: 0.4;
  stroke: #ccf;
  stroke-width: 100;
  stroke-opacity: 0.4;
  stroke-linecap: "round";
  stroke-linejoin: "round";
}

/* ------------------------------------------------------ */

.node rect {
  fill: #cfcfcf;
  stroke: #caeeff;
  stroke-width: 1;
}



